/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.obsidianpress-suggestion-container {
	display: flex;
	align-items: center;
}

.obsidianpress-suggestion-avatar {
	height: 20px;
	width: 20px;
}

.obsidianpress-suggestion-name {
	margin-left: 10px;
	font-weight: bold;
}

.obsidianpress-suggestion-username {
	margin-left: 10px;
}


